body{
    background-color:#CD5C5C
    }

    h1{
        color:#8B008B ;
        font-family: ;
        background: ;
        text-align: center;
        }
        p{
            color:black ;
            font-family: ;
            font-size: ;
            background: ;
            text-align: center;
            }
        id{
            color: black;
            text-align: center;
        }    
