body{
    background-color:#CD5C5C
    }

    h1{
        color:#C71585 ;
        font-family: ;
        background: ;
        }
        p{
            color:#8B008B ;
            font-family: ;
            font-size: ;
            background: ;
            }
